In [23]:
import pandas as pd

In [24]:
a=[[1,2,3],[4,5,6]]
df1= pd.DataFrame(a)
df1.head()

   0  1  2
0  1  2  3
1  4  5  6

In [25]:
a=[[11,22,33],[44,55,66]]
df2= pd.DataFrame(a)
df2.head()

    0   1   2
0  11  22  33
1  44  55  66

In [26]:
a=[[111,222,333],[444,555,666]]
df3= pd.DataFrame(a)
df3.head()

     0    1    2
0  111  222  333
1  444  555  666

In [28]:
df= pd.DataFrame()
for i in range(0,2):
    df=pd.concat([df, df1.iloc[i,:]])
df

In [43]:
df= pd.DataFrame()
for i in range(0,2):
    df=pd.concat([df, df1.iloc[i,:]])
    df.merge(right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)
df

     0
0  1.0
1  2.0
2  3.0
0  4.0
1  5.0
2  6.0